ion-content{
  --background: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
}
@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
.container{
  -webkit-animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;
  min-height: 300px;
  width: 100%;
  background-color: white;
  bottom: 0;
  position: absolute;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
.img1{
  margin-top: 100px;
  height: 180px;
}
ion-button{
  --background: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
  margin-top: 20px;
}

.form{
  padding: 10px;
  ion-item{
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: grey;
    margin-top: 20px;
  }
  
}